body {
  background-image: linear-gradient(to right, pink 30%,aqua, white);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.form_elem1 {
  margin-top: 50px;
  margin-left: 30%;
  border-radius: 8px;
  margin-right: 75px;
  font-size: 30px;
}
.form_elem2 {
  margin-left: 30%;
  border-radius: 8px;
  margin-right: 5px;
  font-size: 30px;
}
.form_elem3 {
  margin-left: 30%;
  border-radius: 8px;
  margin-right: 70px;
  font-size: 30px;
}

.form {
  height: 50px;
  border-radius: 10px;
}

.sub_btn {
  margin-top: 30px;
  margin-left: 40%;
  height: 50px;
  width: 200px;
  font-size: 19px;
  border-radius: 20px;
  background-color: greenyellow
}
.sub_btn:hover {
  cursor: pointer;
  background-color: rebeccapurple;
}
.details {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#container {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 7px;
  background-color: coral;
}